@font-face {
    font-family: 'Omnes';
    src: url('../fonts/_light-webfont.eot');
    src: url('../fonts/omnes-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/omnes-webfont.woff') format('woff'),
         url('../fonts/omnes-webfont.ttf') format('truetype'),
         url('../fonts/omnes-webfont.svg#OmnesRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OmnesMedium';
    src: url('../fonts/_light-webfont.eot');
    src: url('../fonts/omnes_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/omnes_medium-webfont.woff') format('woff'),
         url('../fonts/omnes_medium-webfont.ttf') format('truetype'),
         url('../fonts/omnes_medium-webfont.svg#OmnesRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OmnesLight';
    src: url('../fonts/omnes_light-webfont.eot');
    src: url('../fonts/omnes_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/omnes_light-webfont.woff') format('woff'),
         url('../fonts/omnes_light-webfont.ttf') format('truetype'),
         url('../fonts/omnes_light-webfont.svg#OmnesRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OmnesThin';
    src: url('../fonts/omnes_extralight-webfont.eot');
    src: url('../fonts/omnes_extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/omnes_extralight-webfont.woff') format('woff'),
         url('../fonts/omnes_extralight-webfont.ttf') format('truetype'),
         url('../fonts/omnes_extralight-webfont.svg#OmnesRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OmnesHairline';
    src: url('../fonts/omnes-hairline-webfont.eot');
    src: url('../fonts/omnes-hairline-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/omnes-hairline-webfont.woff') format('woff'),
         url('../fonts/omnes-hairline-webfont.ttf') format('truetype'),
         url('../fonts/omnes-hairline-webfont.svg#OmnesRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Clearfix */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

textarea, input {
  outline: none;
}

body {
  margin: 0;
  background: #fff;
}

html, body {
  font-family: "Omnes", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
  color: #546979;
  height: 100%;
}
html a, body a {
  text-decoration: none;
  color: #44b6ff;
}
html p, body p {
  line-height: 1.3em;
}
p {
  font-family: "Omnes";
  font-size: 16px;
  line-height: 20.8px;
}

h1 {
  font-family: "OmnesHairline";
  font-weight: 200;
  font-size: 6em;
}

h2 {
  font-family: "OmnesThin";
  font-weight: 100;
  font-size: 36px; 
}
h3 {
  font-family: "OmnesLight";
  font-weight: 100;
  font-size: 21px;
}

/* Hero Image Stack */
.hero {
  text-align: center;
  padding-bottom: 60px;
}
.hero h1 {
  line-height: 1em;
  margin-top: 50px;
  margin-bottom: 5px; 
  color: #546979;
}
.hero-images {
  margin: 0 auto;
  top: 50px;
  width: 206px;
  height: 250px;
  overflow: visible;
  position: relative;
}

.gone-hero-1 {
  position: absolute;
  height: 100%;
  right: 0;
}
.gone-hero-2 {
  position: absolute;
  height: 100%;
  right: 0;
}

.intro {
  color: #546979;
}
.arrow-down {
  position: absolute;
    width: 0; 
    height: 0; 
    left: 50%;
    margin-left: -20px;
    margin-top:-4px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #fff;
}
.blue-gradient {
  background: #44b6ff; /* Old browsers */
  background: -moz-linear-gradient(top,  #44b6ff 0%, #a0daff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#44b6ff), color-stop(100%,#a0daff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #44b6ff 0%,#a0daff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #44b6ff 0%,#a0daff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #44b6ff 0%,#a0daff 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #44b6ff 0%,#a0daff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44b6ff', endColorstr='#a0daff',GradientType=0 ); /* IE6-9 */
}

.iphone-1 {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.chat {
  position: relative;
  width: 100%;
  height: 90%;
  border: 0;
}

/* Messages */
.messages {
  padding-bottom: 75px;
  font-size: 14px;
  line-height: 1.4em;
}

.message-remote {
  position: relative;
  max-width: 45%;
  padding: 0px 15px;
  margin: 0em 1em;
  margin-bottom: 5px;
  color: #546979;
  background: #e6e6e6;
  border-radius: 4px;
  float: left;
  clear: both;
}
.message-remote:before {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  border: .6em solid transparent;
  /* arrow size */
  border-right-color: #e6e6e6;
  /* arrow color */
  /* positioning */
  position: absolute;
  bottom: 15px;
  left: -1em;
}

.message-local {
  position: relative;
  max-width: 45%;
  padding: 0px 10px;
  margin: 0em 2em;
  margin-bottom: 5px;
  color: white;
  background: #44b6ff;
  border-radius: 4px;
  float: right;
  clear: both;
}
.message-local:before {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  border: .6em solid transparent;
  /* arrow size */
  border-left-color: #44b6ff;
  /* arrow color */
  /* positioning */
  position: absolute;
  bottom: 15px;
  right: -1em;
}

/*.messages > div:last-child {
    margin-bottom: 50px;
}*/
.footer {
  position: fixed;
  bottom: 0;
  left: 0px;
  right: 0px;
  border-top: 1px solid #e6e6e6;
  height: 70px;
  background-color: white;
  z-index: 1000;
  -webkit-animation-delay:2s;
  -moz-animation-delay:2s;
  -ms-animation-delay:2s;
  -o-animation-delay:2s;
  animation-delay:2s;
}
.footer .message-input {
  width: 75%;
  margin: 15px 0.5em 0.5em 1.5em;
  height: 20px;
  padding: .5em;
  border: 0;
  color: #546979;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  font-family: "OmnesLight", "Helvetica Neue";
  font-size: 20px;
}
.footer span {
  font-size: 20px;
  font-weight: 400;
  float: right;
  margin: 1.2em 1.5em 0 0;
  cursor: pointer;
  color: #44b6ff;
}

.status {
  text-align: center;
  color: #44b6ff;
  margin-bottom: 10px;
}

@media (max-width: 580px) {
  .footer .message-input {
    width: 60%;
  }
}

#media-partners{
  width: 100%;
  padding-bottom: 21px;
  background-color: #fff;
  text-align: center;
}
#media-partners img{
  max-height: 45px;
  max-width: 200px;
  padding: 21px 18px 0 18px;
  box-sizing: border-box;
  vertical-align: middle;
}

#media-partners img.slashgear-logo{
  /*max-width: 200px;
  max-height: 60px;*/
}

#media-partners img.techstars-logo{
  max-width: 130px;
  max-height: 60px;
}
/* Map */
.map-container {
  background-color: #fff;
  text-align: center;
}
.map-container h1 {
  color: #3A4954;
}
.map-container p {
  color: #44b6ff;
}
.map-container path {
  fill: #546979 !important;
  cursor: default;
}
.map-container svg {
  height: auto;
  max-width: 100%;
}
.map {
position: relative;
margin: 0 10% 10% 10%;
}
.map p {
  color: #fff;
}
.map-markers {
  list-style: none;
  margin: 0;
  padding: 0;
}
.map-marker {
  position: absolute;
}
.map-marker:after {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pop;
  border-radius: 50%;
  border: 1px solid #44b6ff;
  content: '';
  height: 2em;
  left: 0;
  margin: -8.5px 0 0 -8.5px;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 2em;
}
.map-marker:hover .map-marker-info {
  display: block;
}
.map-marker a {
  background-color: #44b6ff;
  border-radius: 50%;
  height: 1em;
  display: block;
  text-indent: -9999px;
  width: 1em;
}
.map-marker-san-francisco {
  left: 1%;
  top: 46%;
}
.map-marker-san-francisco:after {
  -webkit-animation-delay:2s;
  -moz-animation-delay:2s;
  -ms-animation-delay:2s;
  -o-animation-delay:2s;
  animation-delay:2s;
}
.map-marker-austin {
  left: 47%;
  top: 79%;
}
.map-marker-austin:after {
  -webkit-animation-delay:2s;
  -moz-animation-delay:2s;
  -ms-animation-delay:2s;
  -o-animation-delay:2s;
  animation-delay:2s;
}
.map-marker-info {
  text-align: center;
  display: none;
  left: 50%;
  position: absolute;
  bottom: 0;
  transform: translate(-50%, -2em);
  width: 10em;
  z-index: 999;
  color: #fff;
}
.map-marker-info main {
  background-color: #44b6ff;
  border-radius: 4px;
  color: #fff;
  padding: .5em 1em;
}
.map-marker-info-inner {
  border-radius: .5em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.3);
  font-size: .875em;
  color: #fff;
  -webkit-animation-duration:2s;
  -moz-animation-duration:2s;
  -ms-animation-duration:2s;
  -o-animation-duration:2s;
  animation-duration:2s;
}
@keyframes pop {
  0% {
    transform: scale(0);
  }
  8% {
    opacity: .4;
  }
  10% {
    opacity: 0;
    transform: scale(1);
  }
}
.animate-pop {
  -webkit-animation-duration:2s;
  -moz-animation-duration:2s;
  -ms-animation-duration:2s;
  -o-animation-duration:2s;
  animation-duration:2s;
  animation-name: pop;
}
/* About */
.about {
  font-family: "OmnesThin";
  text-align: center;
}
.about h1 {
  margin-bottom: 0;
}
.about span {
  color: #44b6ff;
}
svg {
  display: inline-block;
  height: 100%;
  width: 100%;
}

path {
  fill: #111;
  cursor: pointer;
  opacity: 1;
}

path:hover {
  fill: #fff;
}

.qtpieInside {
  position: absolute;
  left: 20%;
  width: 60%;
  top: 50%;
  margin-top: -20px;
  font-size: 30px;
  line-height: 40px;
  overflow: hidden;
  text-align: center;
  color: #546979;
}

#qtpie {
  position: relative;
  display: block;
  display: none;
  margin: 30px auto;
  width: 250px;
  height: 250px;
  margin-bottom: 60px;
}

/* COLORS */

.earnings {
  fill: #72D627;
}

.earnings:hover {
  fill: #8EDE52;
}

.pickup {
  fill: #44b6ff;
}

.pickup:hover {
  fill: #f1c40f;
}

.shipping {
  fill: #3DA3E5;
}

.shipping:hover {
  fill: #9b59b6;
}

.listing {
  fill: #3692CD;
}

.listing:hover {
  fill: #e74c3c;
}

.fulfillment {
  fill: #3083B8;
}

.fulfillment:hover {
  fill: #2ecc71;
}

span.dot {
  display: inline-block;
  width: 20px;
  height: 5px;
  margin-right: 10px;
}

.fixed {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 1.2em;
  padding: 20px;
  max-width: 200px;
  background: #292929;
  text-align: left;
  color: #eee;
}
.text-center {
  text-align: center;
}
.gone-blue {
  color: #44b6ff;
}
.dark {
  background-color: #546979;
}
@media screen and (max-width: 1000px) {
  
  /*.fixed {display: none;}*/

}
@media screen and (max-width: 880px) {
  
  h1 {
    font-family: "OmnesThin";
    font-size: 42px;
  }
  .hero h1 {
    font-size: 64px;
  }

}
@media screen and (max-width: 475px) {
  body {
    text-align: center;
  }
  .chat {
    display: none;
  }
  .hero h1 {
    font-size: 42px;
  }
}
/* ## FAQ CSS ## */
.faq-container {
  padding-top: 35px;
  padding-bottom: 35px;
  color: #546979;
}
.faq-container a {
  text-decoration: none;
  font-size: 21px;
  font-family: "OmnesLight";
}
.faq-container p {
  margin-top: 5px;
}
.faq-container ul {
  list-style: none;
  padding: 0;
}
.faq-container ul .inner {
  padding-left: 1em;
  overflow: hidden;
  display: none;
}
.faq-container ul .inner.show {
  /*display: block;*/
}
.faq-container ul li {
  margin: .5em 0;
}
.faq-container ul li a.toggle {
  display: block;
  color: #546979;
  padding: .75em;
  border-radius: 0.15em;
  transition: color .3s ease;
}
.faq-container ul li a.toggle:hover {
  color: rgba(68,182,255,.7);
}
/* ## FAQ CSS ## */
.circle {
  border-radius: 50%;
}
.remove-bottom {
  margin-bottom: 0px;
}
@media (max-width: 580px) {
  .sidebar-image img: 
}
.sidebar-image {
  text-align: center;
}
.sidebar-image img{
  width: 100%;
  max-width: 1260px;
}