<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <!-- twitter -->
    <meta name="twitter:widgets:theme" content="light">
    <meta name="twitter:widgets:link-color" content="#44B6FF">
    <meta name="twitter:widgets:border-color" content="#fff">

    <link href="apple-touch-icon.png" rel="apple-touch-icon">
    <link href="apple-touch-icon-57x57.png" rel="apple-touch-icon" sizes=
    "57x57">
    <link href="apple-touch-icon-60x60.png" rel="apple-touch-icon" sizes=
    "60x60">
    <link href="apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes=
    "72x72">
    <link href="apple-touch-icon-76x76.png" rel="apple-touch-icon" sizes=
    "76x76">
    <link href="apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes=
    "114x114">
    <link href="apple-touch-icon-120x120.png" rel="apple-touch-icon" sizes=
    "120x120">
    <link href="apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes=
    "144x144">
    <link href="apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes=
    "152x152">
    <link href="apple-touch-icon-180x180.png" rel="apple-touch-icon" sizes=
    "180x180">
    <link href="favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
    <link href="android-chrome-192x192.png" rel="icon" sizes="192x192" type=
    "image/png">
    <link href="favicon-96x96.png" rel="icon" sizes="96x96" type="image/png">
    <link href="favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
    <link href="/manifest.json" rel="manifest">
    <meta content="#2d89ef" name="msapplication-TileColor">
    <meta content="/mstile-144x144.png" name="msapplication-TileImage">
    <meta content="#ffffff" name="theme-color">

    <title>Gone by SMS</title>
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/skeleton.css">
        <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
      <!-- Hero -->
      <section class="hero">
        <div class="container">
          <div class="hero-images">
            <img src="images/gone-hero-logo-1.png" alt="" class="gone-hero-1">
            <img src="images/gone-hero-logo-2.png" alt="" class="gone-hero-2">
          </div>
          <h1>Gone by SMS</h1>
          <h3>The most effective selling platform<br>now only a text away.</h3>
          <h2 class="number"><a href="imessage://(123)456-7890">123.456.7890</a></h2>
        </div>
      </section>
      <div id="media-partners"><img alt="Techstars" class="techstars-logo"
        src="img/techstars.png"> <img alt="CNN" src="img/cnn.png"> <img alt=
        "xConomy" src="img/xconomy.png"> <img alt="VentureBeat" src=
        "img/vb.png"> <img alt="GIGAOM" src="img/gigaom.png"> <img alt=
        "TechCrunch" src="img/techcrunch.png"> <img alt="SlashGear" class=
        "slashgear-logo" src="img/slashgear.png"></div>
      <!-- Intro -->
      <section class="intro">
        <div class="blue-gradient">
          <div class="container">
            <div class="eight columns">
              <h2>Send a text directly to Gone's pricing floor.</h2>
              <img style="width: 100px;" src="images/dollar.png" alt="" class="responsive">
              <h3>Check the value of your items, schedule in-home pickups, modify and monitor your sales, and cash out through text message. </h3>
            </div>
            <div class="four columns">
              <img class="iphone-1" src="images/iphone-1.png" alt="">
            </div>
          </div>
        </div>
      </section>
      <!-- About Gone -->
      <section class="about">
        <div class="container">
          <h1>Let's Sell Together</h1>
          <div class="eight columns offset-by-two">
            <p>When you sell with Gone, you do <span><strong>less work</strong></span> and <span><strong>earn more</strong></span> compared with other marketplaces. <br>That's just how Gone is designed.</p>
          </div>
        </div>
        <div class="container">
          <div id="qtpie">
            <div>
              <svg viewbox="0 0 200 200">
                <path class="earnings" data-pie="85" data-desc="Your Cash" />
                <path class="pickup" data-pie="3.5" data-desc="Pickup" />
                <path class="shipping" data-pie="3" data-desc="Shipping" />
                <path class="listing" data-pie="4" data-desc="Listing" />
                <path class="fulfillment" data-pie="5" data-desc="Fulfillment" />
                <circle transform="translate(100, 100)">
              </svg>
            </div>
          </div>
        </div>
      </section>
      <!-- FAQ -->
      <section class="faq">
        <div class="blue-gradient">
          <div class="container faq-container">
          <!-- ## FAQ ## -->
                <ul class="accordion">
                  <li>
                    <a class="toggle" href="javascript:void(0);">Does Gone! buy items from me?</a>
                    <ul class="inner">
                      <p>Gone! is not a buyer, but it is a service specifically designed to find buyers for your items. Gone! spares you the hassle of writing a listing, pricing, packing, negotiating with buyers, and shipping your items. After Gone! sells your items, you will be paid.</p>
                    </ul>
                  </li>
                  <li>
                    <a class="toggle" href="javascript:void(0);">How long until I am paid?</a>
                    <ul class="inner">
                      <p>After Gone! receives your items, we'll inspect them and list them for sale within one day. From there, it may take from one to several weeks, depending on the demand for your item. You will be able to monitor the entire process from within the application.</p>
                    </ul>
                  </li>
                  <li>
                    <a class="toggle" href="javascript:void(0);">What can I sell?</a>
                    <ul class="inner">
                      <p>Take a look around you! That tablet you got at a conference last year? Those headphones you recently replaced? That laptop from a couple of years ago that is accumulating dust and losing value? Gone! processes a wide variety of Computers, Phones, Tablets, Accessories. Gone! will immediately determine whether your item can be sold with us, and how much you will get after it's sold.</p>
                    </ul>
                  </li>
                  <li>
                    <a class="toggle" href="javascript:void(0);">Where are my items sold?</a>
                    <ul class="inner">
                      <p>Gone! determines the optimal marketplace for selling your items amongst based on a balance of speed and price. We operate on top of many marketplaces. That includes Amazon and eBay, but many other partners. We're focused on getting you the best possible price along with the easiest selling experience. Our systems will determine which is the optimal marketplace to sell your items. All you have to do is sit back, relax, and let Gone! do the painful task of selling on your behalf.</p>
                    </ul>
                  </li>
                  <li>
                    <a class="toggle" href="javascript:void(0);">How much does Gone! cost?</a>
                    <ul class="inner">
                      <p>Gone! charges a commission ranging from 7% to 15%, depending on the demand for your items. This commission is applied after deducting all of the costs of preparing your items for sale. This includes inspection, pricing, postage, and packing materials required to securely ship the items to your buyers.</p>
                    </ul>
                  </li>
                  <li>
                    <a class="toggle" href="javascript:void(0);">How do I get paid?</a>
                    <ul class="inner">
                      <p>Gone! will send a check or a Paypal transfer after selling your your items. You will be notified within the application when your money is available.</p>
                    </ul>
                  </li>
                  <li>
                    <a class="toggle" href="javascript:void(0);">What happens if my items don't sell?</a>
                    <ul class="inner">
                      <p>If they don't sell within 90 days, Gone! sends them back to you at no cost, or extends the period for another 90 days.</p>
                    </ul>
                  </li>
                  <li>
                    <a class="toggle" href="javascript:void(0);">I've received a Gone! offer of $X for my items, does it mean that they have been sold?</a>
                    <ul class="inner">
                      <p>Not yet, it means that Gone's pricing algorithm determined the optimal price for your item that balances a quick sell with the best profit for you. That's the final amount you'll be getting from the sale once they're sold.</p>
                    </ul>
                  </li>
                </ul>
                <!-- ## END OF FAQ ## -->
              </div>
        </div>
      </section>
      <!--Messages-->
    <section class="chat" ng-app="chat" ng-controller="chatController">
      <section id="messages" class="messages clearfix">
        <div class="container">
          <div class="text-center">
            <h1>Try it out!</h1>
          </div>
          <div class="status"><p>You're chatting with Gone!</p></div>
          <div ng-repeat="message in messages" class="{{message.from}}">
            <p>{{message.text}}</p>
          </div>
        </div>
      </section>
      <!--Footer-->
      <section class="footer clearfix">
        <input autofocus type="text" id="message-input" class="message-input" ng-model="chatText" ng-enter="triggerSubmit()" autocomplete="off" placeholder="Enter Your Message" autofocus/>
        <span ng-click="addMessage()">Send</span>
      </section>
    </section>
        <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js'></script>
        <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script src="js/jquery.easing.1.3.js"></script>
        <script src="js/TweenMax.min.js"></script>
        <script src="js/index.js"></script>
        <script src="js/qtpie.js"></script>
            <!-- ## FAQ JAVASCRIPT ## -->
    <script>
    $('.toggle').click(function(e) {
    e.preventDefault();
    var $this = $(this);
    if ($this.next()[0].classList.contains('show')) {
        $this.next().removeClass('show');
        $this.next().slideUp(350);
    } else {
        $this.parent().parent().find('li .inner').removeClass('show');
        $this.parent().parent().find('li .inner').slideUp(350);
        $this.next().toggleClass('show');
        $this.next().slideToggle(350);
    }
});</script>
<!-- ## END OF FAQ JAVASCRIPT ## -->
  </body>
</html>
